<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Ajout d'un client</title>
<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" > 
</head>
<body>
<div th:replace="layout :: header"></div>
	<div class="container">
		<div class="card">
			<div class="card-header">Confirmation d'un nouveau client</div>
			<div class="card-body">
			<form method="get" th:action="@{clients}">
				<div class="form-group">
					<label class="control-label">ID client:</label>
					<label  th:text="${client.id}"></label>
				</div>
				<div class="form-group">
					<label class="control-label">Nom du client:</label>
					<label  th:text="${client.nom}"></label>
				</div>
				<div class="form-group">
					<label class="control-label">Prénom du client:</label>
					<label  th:text="${client.prenom}"></label>
				</div>
				<div class="btn-group">
					<button class="btn btn-primary">Valider</button>
				</div>
			</form>
				
			</div>
		</div>
	</div>
<div th:replace="layout :: footer"></div>	
</body>
</html>