<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="utf-8"/>
<title>Login</title>
<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" /> 
<link rel="stylesheet" type="text/css" href="../static/css/myStyle.css" th:href="@{css/myStyle.css}" /> 
</head>
<body>
<section >

<div class="container">
		<div class="card">
			<div class="card-header">Erreur</div>
			<div class="card-body">
				Vous n'êtes pas autorisé à effectuer cette opération
			</div>
		</div>
	</div>

</section>
</body>
</html>