<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Sign up</title>
</head>

<body ng-app="myApp" ng-controller="signupcontroller">
<div class="col-md-6 col-sd-6 col-xs-6 spacer">
Number of guessing :{{guessesNumber}}<br>
correct letters : <span ng-repeat="letter in correctLetters">{{letter}}</span><br>
incorrect letters : <span ng-repeat="letter in incorrectLetters">{{letter}}</span><br>

random word : {{randomWordHtmlHidden}}<br>
<button ng-click="randomword()">choose random word</button><br>
<input type="text" name="guess" ng-model="input.letter"><br>
<button ng-click="guessrandomword()">guess</button>
</div>
<br><br><br><br>


directives databinding filter
<input type="text" name="filterOfName" ng-model="input.filterOfName">
<ul ng-init="names = ['mehdi','mohammed','souhayb','rachid','chafik']">
	<li ng-repeat="name in names | filter:input.filterOfName | orderBy : name ">{{ name }}</li>
</ul>
<br><br><br><br>

directives databinding filter with objects
<input type="text" name="filterOfNameBis" ng-model="input.filterOfNameBis">
<ul ng-init="people = [{name:'mehdi',age:28},{name:'mohammed',age:34},{name:'rachid',age:30},{name:'souhayb',age:25},{name:'chafik',age:24}]">
	<li ng-repeat="person in people | filter:input.filterOfNameBis | orderBy : person.name ">{{ person.name | uppercase }}  -  {{ person.age | currency:"MAD " }}</li>
</ul>

<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/myJs.js"></script>
</body>
</html>